body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.header-container {
    margin: 0 auto;
    background-color: #f8f9fa;
    padding: 15px;
    text-align: center;
    background-image: url('./images/header\ background.jpg');
    background-size: cover;
    justify-content: space-between;
    position: relative;
    z-index: 9;
    /* MEMO: higher z-index = higher priority */
    overflow: hidden;
    opacity: 0.8;
    display: flex;
}

.header-container {
    position: sticky;
    top: 0;
}


nav {
    padding: 0;
    margin-left: auto;
    
}


.header-container ul {
    justify-content: end;
    align-items: center;
    display: flex;
    column-gap: 40px;
    max-width: 60% !important;
}


.header-container li {
    display: inline;
    font-size: 20px;
}

.header-container img {
    height: 50px;
    margin-right: auto;
    display: flex;
    
}

.header-container a:hover {
    color: #f7ea74;
    background-color: none;
    border-radius: 10px;  
    transition: background-color 0.3s ease, color 0.3s ease
}

.header-container a {
    color: #d3d3d3;
    font-weight: bold;
    transition: color 0.3s ease;
    offset-anchor: auto;
}

.image-container {
    background: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1)), url('./images/header\ background.jpg');
    /* MEMO: background: linear-gradient(direction, color-stop1, color-stop2, ...); */
    position: relative;
    text-align: center;
    height : 80vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
}

.overlay-text{
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    z-index: 2;
    text-align: center;
}

.abel-regular {
  font-family: "Abel", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.image-container h1 {
    font-weight: bold;
    font-size: 30px;
    margin:8vmax; 
 

}

.image-container p {
    font-size: 25px;
    font-family: "Abel", sans-serif;
    font-style: italic;
    font-weight: 500;
    margin-top: 7vmax;
}

.image-container .donate-section {
    display: block;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    z-index: 2;
}

.image-container .first-button {
    position: absolute;
    margin-top: 30px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    z-index: 2;
    padding: 15px 45px;
    border: none;
    border-radius: 5px;
    background-color: #f7ea74;
    cursor: pointer;
    font-family: "Abel", sans-serif;
    font-weight: 600;
}

.image-container .first-button:hover {
    background-color: #e6d45c;
    transition: background-color 0.3s ease;
}   

.image-container2 {
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.image-container2 .bbc-lines,
.image-container2 .right-img {
    width: 50%;
    position: relative; 
    height: auto;
}

.image-container2 .bbc-lines img,
.image-container2 .right-img img {
    width: 100%;
    height: auto;
    display: block;
}

.image-container2 .right-img p {
    position: absolute;
    top: 50%; /* center vertically */
    left: 50%; /* center horizontally */
    transform: translate(-50%, -50%);
    font-size: 30px; 
    line-height: 1.5;
    font-family: "Abel", sans-serif;
    font-style: italic;
    font-weight: 500;
    color: #c7c7c7;
    margin: 0;
    width: 90%;
    text-align: center;
    z-index: 2;
}

.middle-text p{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    font-style: italic;
    font-size: 30px;
    font-family: "Abel", sans-serif;
    font-weight: 500;
    color: #000000;
    width: 30%;
    line-height: 1.5;
}

.middle-text span {
    font-weight: bold;
    color: #000000;
    font-size: 35px;
}

.image-container3 {
    position: relative;
    padding: 50px 20px;
    height: auto; 
    margin: 0 auto;

}
.image-container3 .leftup-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%; 
    height: auto;
    z-index: 2;
}

.image-container3 .rightdown-img {
    position: absolute;
    top: 90%;
    /* MEMO: This value to control overlap */
    left: 40%; 
    width: 60%;
    height: auto;
    z-index: 1;
}